<?xml version="1.0" encoding="UTF-8"?>

<!-- mapper관련 DTD 추가
	DTD : xml 문서(파일) 구조를 정의,
	데이터 교환의 표준형식임,
	데이터가 유효한 데이터인지를 판단 가능
 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<!-- 특정 패키기지가 아닌 주소를 정해 다른 곳에서 접근 가능하게 함 -->
  	<mapper namespace="com.itwill.mapper.BoardMapper">
  	
  		<insert id="create">
  			insert into tbl_board (title,content,writer)
  			values (#{title},#{content},#{writer})
  		</insert>
  	
  	<!-- 
  		(Unparsed) Character DATA(CDAO) : 파싱하지 않는 문자 데이터
  		<-> parsed Character DATA(PCDATA)
  		
  		- 잘못 파싱될 수 있는 xml 문서를 처리할 때 주로 사용해야함
  	 -->
  		<select id="getList" resultType="com.itwill.domain.BoardVO">
  			<![CDATA[
  			select 
  			*
  			from tbl_board
  			where bno > 0
  			order by bno desc, regdate desc
  			]]>
  		</select>
  		
	    <select id="listCri" resultType="BoardVO">
	      <![CDATA[
	      select
	         *
	      from
	        tbl_board
	      where bno > 0
	      order by bno desc, regdate desc
	      limit #{pageStart},#{pageSize}  
	      ]]>    
	    </select>
		    
	   	<select id="bdcount" resultType="int">
	      <![CDATA[
	      select
	         count(bno)
	      from
	        tbl_board
	        where bno > 0
	      ]]>    
	    </select>
  		
  		 <select id="read" resultType="BoardVO">
  			select 
  			*
  			from tbl_board
  			where bno = #{bno}
  		</select>
  		
  		<update id="update">
  			update tbl_board set title = #{title},
  			content = #{content}, writer = #{writer}
  			where bno = #{bno}
  		
  		</update>
  		
  		<delete id="delete">
  			delete from tbl_board where bno = #{bno}
  		</delete>
  	
  	</mapper>